.battlebox {
  border: 3px solid rgba(255,255,255,.25);
  width: 50vw;
  border-radius: 2.5px;
  height: 25%;
  transform: translate(-8vh, -12vw);
  padding: 6px;
  padding-left: 16px;
  text-align: left;
}

.btn-light {
  color: black !important;
}

.masthead {
      margin-bottom: 20rem !important;
}

.cover {
  padding: 0 !important;
}
