.battlebox {
  border: 3px solid rgba(255,255,255,.25);
  width: 50vw;
  height: 25vh;
  border-radius: 2.5px;
  height: 25%;
  transform: translate(-8vh, -12vw);
  padding-left: 16px;
  text-align: left;
}

.info {
  display: inline-block;
  width: 20%;
  padding-top: 1%;
}
.brdr {
  display: inline-block;
  background: rgba(255,255,255,.25);
  width: 3px;
  height: 100%;
}

.healthbox {
  padding: 3px;
}

.cal {
  margin-bottom: 10rem !important;
}

#playername {
  font-weight: bold;
}

.btn-light {
  color: black !important;
}

.masthead {
  margin-bottom: 20rem !important;
}

.cover {
  padding: 0 !important;
}
