html, body {
  height: 100%;
  padding: 0;
  margin: 0;
    background: linear-gradient(to right, #262626,#404040,#262626);
}
.brand {
  margin-bottom: 15vh;
  margin-top: 3vh;
  text-align: center;
}
body {
  color: white;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.battlebox {
  border: 3px solid rgba(255,255,255,.25);
  width: 50vw;
  height: 25vh;
  border-radius: 2.5px;
  height: 27%;
  overflow: hidden;
  text-align: left;
}
.buttons {
    margin-top: 10vh;
    text-align: center;
}
.info {
  vertical-align: top;
  display: inline-block;
  width: 140px;
  margin-top: 1.5vh;
  padding-left: 1vh
}
.brdr {
  display: inline-block;
  background: rgba(255,255,255,.25);
  width: 3px;
  height: 100%;
}
.story {
  vertical-align: top;
  position: relative;
  padding: 1vh;
  display: inline-block;
  width: 75%;
  height: 100%;
}
.healthbox {
  padding: 3px;
}

.uc {
  margin-top: 2vh;
  border-top: 3px solid rgba(255,255,255,.25);
}

.cal {
  margin-bottom: 10rem !important;
}

#playername {
  font-weight: bold;
}

.btn-light {
  color: black !important;
}

.masthead {
  margin-bottom: 20rem !important;
}

.cover {
  padding: 0 !important;
}
